previewscreen/node_modules
previewscreen/dist/Photobooth-linux-ia32
previewscreen/dist/Photobooth-linux-x64
previewscreen/dist/Photobooth-linux-arm64
previewscreen/dist/Photobooth-darwin-x64
.DS_Store
/.idea/
