html,
body {
	padding: 0;
	margin: 0;
	overflow:hidden;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
	background-image:url(Hintergrund.png);
	background-repeat: no-repeat;
	background-size:cover;
}

#previewImage {
	margin:0;
	padding:0;
	width:100vw;
	height:100vh;
	object-fit:cover;
	display:none;
}