$color-blue: #0c2444;
$color-gold: #a17f46;

@import 'fonts';

html, body {
  margin:0;
  padding:0;
  background-color:$color-blue;
  font-family: "Baar Sophia";
}


h1 {
  color:$color-gold;
  font-family: "Mellony Dry Brush";
  font-weight:normal;
  font-size:40px;
  text-align:center;
}
nav {
  margin:16px auto;
  width:400px;
  display:flex;
  a {
    flex:1;
    color:white;
    text-align: center;
  }
}
$lg-theme: $color-blue;
$lg-toolbar-bg: $color-blue;
@import '../../node_modules/lightgallery.js/src/sass/lightgallery.scss';
.lg-backdrop{
  background-color:$color-blue;
}
@import '../../node_modules/lightgallery.js/src/sass/lg-transitions.scss';


#lightgallery {
  list-style-type: none;
  list-type: none;
  padding: 0px;
  margin: 0px;
}

#lightgallery  li {
  padding: 0;
  margin: 0;
  display: inline;
}

#lightgallery  li  a {
  background: #fff;
  display: inline;
  float: left;
  margin: 0 0 27px 30px;
  width: auto;
  padding: 10px 10px 45px;
  text-align: center;
  font-family: "Marker Felt", sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  -webkit-transition: -webkit-transform .15s linear;
  /*-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);
 # -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .25);*/
  box-shadow: 0 3px 10px 2px rgba(0, 0, 0, .5);
}

#lightgallery  li  a img {
  width:143px;
  height:auto;
}

#lightgallery li  a:after {
  content: attr(title);
}

#lightgallery li a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

/* Rotate all even images 2 degrees */
#lightgallery li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
#lightgallery li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
#lightgallery li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
#lightgallery li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
#lightgallery li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px;
}
#lightgallery  li  a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

div.invisible {
  display:none;
  visibility: hidden;;
}
.lg-outer.withSidebar .lg-img-wrap {
  padding-right: 400px !important; }

div.sidebar {
  left:auto;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  padding:50px;
  width: 400px;
  z-index: 99999;
  background-color:white;
  text-align: left;

  color:$color-blue;
  h2, h3, > a {
    display:block;
    text-align: center;
  }
  a {
    color:$color-gold;
  }

  ol {
    padding-left:13px;
  }
  ol li nav {
    width:100%;
    margin:8px 0 20px 0;
    a {
      text-align: left;
    }
  }


}
div.book-view {
  background-image:url(../img/book.png);
  background-repeat: no-repeat;
  background-size:cover;
  height:600px;
  overflow: hidden;

  div:first-child {
    margin:10px 0px 0px 150px;
    width:370px;
    float:left;
    img {
      width:100%;
      height:auto;
    }
  }
  div:nth-child(2) {
    margin:150px 0px 0px 20px;
    width:300px;
    float:left;

  }
  nav {
    position:absolute;
    bottom:20px;
    left:50%;
    clear:left;
  }
}
body > h2 {
  text-align:center;
  color:white;
  font-weight: normal;
}
div#form {
  margin:16px 50px;
  > div {

    margin-bottom:8px;
  }
  label {
    display:inline-block;
    width:110px;
    color:$color-gold;
    vertical-align: top;
  }
  input {
    width:750px;
    height:30px;
    font-size:16px;
  }
  textarea {
    width:750px;
    font-size:16px;
    min-height:300px;
  }
  button {
    display:block;
    margin:8px auto;
    background-color:$color-gold;
    color:$color-blue;
    font-size:16px;
    padding:10px;
    text-align:center;
    border:0px none;
    border-radius:5px;
  }
}